@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital@0;1&display=swap');

body {
	background: #fff;
	color: #000;
	font-family: "Work Sans", sans-serif;
	font-size: 20px;
	margin: 0;
}
header {
	font-family: "Work Sans", sans-serif;
	border-bottom: 1px solid #000;
	/*box-shadow: 0 0 30px 1px #aaa;*/
	box-sizing: border-box;
	height: 80px;
	display: flex;
	justify-content: space-between;
	background: #fff;
}
main {
	box-sizing: border-box;
	height: calc(100vh - 130px);
	overflow-y: scroll;
}
footer {
	font-family: "Work Sans", sans-serif;
	font-size: 18px;
	border-top: 1px solid #000;
	/*box-shadow: 0 0 30px 1px #aaa;*/
	box-sizing: border-box;
	height: 50px;
	display: flex;
	justify-content: space-between;
	background: #fff;
}
h2 {
	font-size: 22px;
	font-weight: normal;
}
a {
	/*color: #777;*/
	color: #7a7a52;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
header a {
	color: #000;
}
hr {
	border: none;
	border-top: 1px solid #000;
}
ul {
	list-style: none;
}
ul li:before {
	content: "– ";
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.title {
	border-right: 1px solid #000;
	display: flex;
	align-items: center;
	padding: 25px;
	height: 100%;
	box-sizing: border-box;
}
header .title {
	background: radial-gradient(#999966, #fff);
}
.nav {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-evenly;
	height: 100%;
	box-sizing: border-box;
	width: 100%;
}
.nav .header-item {
	font-size: 18px;
	/*box-shadow: 0 0 40px 1px #888;*/
	/*border: 1px solid #000;*/
	border-radius: 10px;
	display: flex;
	align-items: center;
	padding: 10px;
	height: 50%;
	box-sizing: border-box;
	background: radial-gradient(#999966, #fff);
	/*font-weight: bold;*/
}
.nav .header-item:hover {
	background: radial-gradient(#999966, #eee);
}
.nav .header-item a:hover {
	text-decoration: none;
}
.blog {
	display: block;
	/*background: #ccc;*/
}
.blog-item {
	/*border: 1px solid #fff;*/
	padding: 25px;
	height: 300px;
	box-sizing: border-box;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
	/*border: 1px solid #000;*/
	/*border-radius: 20px;*/
}
.blog-item-title {
	font-size: 20px;
}
.tag {
	color: #aaa;
	font-family: monospace;
	font-size: 16px;	
}
.footer-item {
	display: flex;
	align-items: center;
	padding: 15px;
}
footer .title {
	/*background: #999966;*/
	background: radial-gradient(salmon, #fff);
	font-family: "Work Sans", sans-serif;
}
footer .title a {
	text-decoration: none;
	color: #000;
}
footer .title:hover {
	background: radial-gradient(salmon, #eee);
}
.content {
	padding: 25px;
	font-size: 20px;
	line-height: 1.8em;
}
.content img {
	max-width: 100%;
}
.credits {
	text-align: left;
	font-size: 20px;
	line-height: 1.25em;
	font-family: "Work Sans", sans-serif;
	border-bottom: 1px solid #000;
}

@media(min-width: 768px){
	.blog {
		display: flex;
		justify-content: left;
		flex-wrap: wrap;
		/*justify-content: space-between;*/
	}
	.blog-item {
		flex-basis: 50%;
	}
	.content {
		width: 60%;
	}
	.content img {
		max-width: 75%;
	}
}

@media(min-width: 1024px){
	.blog-item {
		flex-basis: 20%;
	}
	.content {
		width: 50%;
	}
	.content img {
		max-width: 50%;
	}
	.credits {
		padding: 25px;
		border: none;
		border-left: 1px solid #000;
		position: fixed;
		right: 25px;
	}
}