<h1>Sporting Grotesque</h1>
<p>A grotesque typeface by <a href="http://lucaslebihan.fr/">Lucas Le Bihan</a>.</p>
<p>Greek by <a href="http://backpacker.gr">George Triantafyllakos</a>.</p>
<p>Polish diacritics added by <a href="http://maciej.polczynski.com/">Maciej Połczyński</a>.</p>
<p>Sporting Grotesque is a typeface released by <a href="http://velvetyne.fr">Velvetyne Type Foundry</a>.</p>
<p><img src="documentation/specimen.png" alt="Specimen"></p>
<h2>Présentation</h2>
<pre><code>C’est une équipe de ligue 1.

Son hymne :
(librement inspiré d’une composition de Pierre Bachelet)

La victoire au bout du pied
Le ballon au fond des filets
L’ennemi désemparé
Nous vaincrons, nous serons les premiers
Allez Sporting Sporting Grotesque,
But ! But ! But !
</code></pre>
<h2>Features</h2>
<pre><code>En plus d’un jeu de caractère comprenant
Petites capitales et chiffres suspendus,
le Sporting Grotesque offre des options de titrage
opentype disponibles dans l’option « Titling Alternates ».

Merci,
Lucas Le Bihan
</code></pre>
<h2>Licence</h2>
<p>SIL Open Font License v1.1</p>
